:root {
	--main-text-color: #0e8e5c;
	--main-bg-color: black;
	--second-bg-color: #3D3D3D;
	--main-font: 'Roboto', sans-serif;
	--second-font: 'Bebas Neue', cursive;
}

* {
	font-family: var(--second-font);
	color: var(--main-text-color);
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* ################################### */
/* ############## HEADER ############# */
/* ################################### */

.header {
	position: relative;
	height: 100px;
	background-color: var(--second-bg-color);
	box-shadow: 0px -10px 35px 15px rgba(0,0,0,0.75);
	z-index: 999;
}

.header .container, .header .row, .header .header_content {
	height: 100%;
}

.header_content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.title {
	display: block;
	margin: 0;
	letter-spacing: 2px;
}

.navbar a {
	display: inline-block;
	text-decoration: none;
	color: var(--main-text-color);
	font-size: 1.5em;
	letter-spacing: 3px;
	margin-left: 20px;
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
	padding-bottom: 2px;
}

.navbar a:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: var(--main-text-color);
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.navbar a:hover:before, .navbar a:focus:before, .navbar a:active:before {
	left: 0;
	right: 0;
}

/* ################################### */
/* ############### LINE ############## */
/* ################################### */

.line {
	height: 25px;
	box-shadow: 0px -10px 35px 15px rgba(0,0,0,0.75);
}

.main_content {
	flex-grow: 1;
}

.footer {
	height: 100px;
	background-color: black;
}