*, *::before, *::after {
	box-sizing: border-box;
}

/* * {
	border: 1px solid black;
} */

:root {
	--main-bg-color: #1F1F1D;
	--main-txt-color: white;
	--green-color: #718667;
	--main-font: 'Questrial';
}

/*
* -- Minor Section Heading --
*/

/*
* === GLOBAL LAYOUT OF THE SITE ===
*/

body {
	margin: 0;
	padding: 0;
	background-color: var(--main-bg-color);
}

.grid {
	margin: 35px 60px;
	display: grid;
	grid-template-areas: 
	"navbar navbar navbar navbar navbar"
	"header header main main main";
	grid-gap: 40px;
}

.navbar {
	grid-area: navbar;
}

.header {
	grid-area: header;
}

.main {
	grid-area: main;
}

@media screen and (max-width: 700px) {
	.grid {
		grid-template-areas: 
		"header"
		"main"
		"navbar";
	}
}

/*
* === NAVIGATION BAR ===
*/

.navbar {
	height: 35px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.navbar__tab {
	width: 120px;
	cursor: pointer;
	position: relative;
	display: inline-block;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	overflow: hidden;
	margin: 0 10px;
}

.navbar__tab::before {
	background-color: var(--green-color);
	content: '';
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	height: 4px;
	border-radius: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.navbar__tab:hover::before {
	left: 0;
	right: 0;
}

.navbar__tab--active::before {
	background-color: var(--green-color);
	bottom: 0;
	left: 0;
	right: 0;
	height: 4px;
	border-radius: 4px;
}

.navbar__links {
	color: var(--main-txt-color);
	font-family: var(--main-font);
	text-decoration: none;
	font-size: 18px;
	display: block;
	text-align: center;
	outline: none;
}

.navbar__links i {
	display: none;
}

@media screen and (max-width: 700px) {
	.navbar {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 55px;
		padding-top: 10px;
		justify-content: space-between;
	}

	.navbar__tab::before {
		display: none;
	}

	@keyframes hoverColor {
		to {color: var(--green-color);}
	}

	.navbar__tab:hover .navbar__links {
		animation-name: hoverColor;
		animation-duration: 0.3s;
		animation-fill-mode: forwards;
	}

	.navbar__tab--active .navbar__links {
		color: var(--green-color);
	}

	.navbar__links {
		font-size: 15px;
	}

	.navbar__links i {
		display: block;
		margin-bottom: 5px;
	}
}