*, *::before, *::after {
	box-sizing: border-box;
}

@font-face {
	font-family: '3270_narrow';
	src: url('../font/3270_narrow.eot');
	src: local('☺'), url('../font/3270_narrow.woff') format('woff'), url('../font/3270_narrow.ttf') format('truetype'), url('../font/3270_narrow.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

:root {
	--main-bg-color: #1F1F1D;
	--second-bg-color: #2B2B29;
	--console-bg-color: #191919;
	--main-txt-color: white;
	--green-color: #718667;
	--orange-color: #EB5C25;
	--main-font: 'Questrial';
	--second-font: 'Roboto';
	--console-font: '3270_narrow';
	--twitter-color: #1da0f2;
	--insta-color: #DD2A7B;
	--github-color: #333333;
	--codepen-color: #000000;
	--linkedin-color: #0077b5;
}

@keyframes hoverColor {
	to {color: var(--green-color);}
}

@keyframes hoverColor--twitter {
	to {color: var(--twitter-color);}
}

@keyframes hoverColor--insta {
	to {color: var(--insta-color);}
}

@keyframes hoverColor--github {
	to {color: var(--github-color);}
}

@keyframes hoverColor--codepen {
	to {color: var(--codepen-color);}
}

@keyframes hoverColor--linkedin {
	to {color: var(--linkedin-color);}
}

@keyframes formButtonHover {
	to {
		background-color: var(--console-bg-color);
		color: var(--main-txt-color);
	}
}

.container {
	background-color: var(--second-bg-color);
	border-radius: 10px;
}

/*
* === GLOBAL LAYOUT OF THE SITE ===
*/

body {
	margin: 0;
	padding: 0;
	background-color: var(--main-bg-color);
}

.grid {
	margin: 35px 60px;
	display: grid;
	grid-template-areas: 
	"navbar navbar"
	"header main";
	grid-gap: 40px;
	grid-template-columns: 1fr 2.5fr;
}

.navbar {
	grid-area: navbar;
}

.header {
	grid-area: header;
}

.main {
	grid-area: main;
}

/*
* -- Global media queries --
*/

@media screen and (max-width: 1300px) {
	.grid {
		grid-template-areas: 
		"header"
		"navbar"
		"main";
		grid-template-columns: 1fr;
		margin: 0;
	}
}

@media screen and (max-width: 700px) {
	.grid {
		grid-template-areas: 
		"header"
		"main"
		"navbar";
		margin-bottom: 40px;
	}
}

/*
* === NAVIGATION BAR ===
*/

.navbar {
	height: 35px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.navbar__tab {
	width: 120px;
	cursor: pointer;
	position: relative;
	display: inline-block;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	overflow: hidden;
	margin: 0 10px;
}

.navbar__tab::before {
	background-color: var(--green-color);
	content: '';
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	height: 4px;
	border-radius: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.navbar__tab:hover::before {
	left: 0;
	right: 0;
}

.navbar__tab--active::before {
	background-color: var(--green-color);
	bottom: 0;
	left: 0;
	right: 0;
	height: 4px;
	border-radius: 4px;
}

.navbar__links {
	color: var(--main-txt-color);
	font-family: var(--main-font);
	text-decoration: none;
	font-size: 18px;
	display: block;
	text-align: center;
	outline: none;
}

.navbar__links i {
	display: none;
}

/*
* -- Navigation bar media queries --
*/

@media screen and (max-width: 700px) {
	.navbar {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 55px;
		padding-top: 10px;
		justify-content: space-between;
		background-color: var(--main-bg-color);
		z-index: 1;
	}

	.navbar__tab::before {
		display: none;
	}

	.navbar__tab:hover .navbar__links {
		animation-name: hoverColor;
		animation-duration: 0.3s;
		animation-fill-mode: forwards;
	}

	.navbar__tab--active .navbar__links {
		color: var(--green-color);
	}

	.navbar__links {
		font-size: 15px;
	}

	.navbar__links i {
		display: block;
		margin-bottom: 5px;
	}
}

/*
* === SHORT INFORMATION ===
*/

.portrait {
	height: 380px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.portrait__name {
	color: var(--main-txt-color);
	font-family: var(--main-font);
	letter-spacing: 2px;
	font-size: 1.5em;
	font-weight: normal;
	display: inline;
}

.portrait__picture {
	display: block;
	width: 190px;
	height: 190px;
	border-radius: 50%;
}

.portrait__social {
	color: var(--main-txt-color);
	font-size: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.portrait__social a {
	color: var(--main-txt-color);
}

.portrait__social a:hover {
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.portrait__social a.portrait__social--twitter:hover {
	animation-name: hoverColor--twitter;
}

.portrait__social a.portrait__social--insta:hover {
	animation-name: hoverColor--insta;
}

.portrait__social a.portrait__social--github:hover {
	animation-name: hoverColor--github;
}

.portrait__social a.portrait__social--codepen:hover {
	animation-name: hoverColor--codepen;
}

.portrait__social a.portrait__social--linkedin:hover {
	animation-name: hoverColor--linkedin;
}

.portrait__social i {
	margin-left: 7.5px;
	margin-right: 7.5px;
}

.description {
	font-family: var(--main-font);
	color: var(--main-txt-color);
	height: 300px;
	padding: 35px 50px;
}

.description__hello {
	margin: 0;
	font-size: 30px;
	line-height: 200%;
}

.description__text {
	margin: 0;
	line-height: 130%;
	letter-spacing: 1px;
}

/*
* -- Short information media queries --
*/

@media screen and (max-width: 1500px) {
	.portrait {
		height: 300px;
	}

	.portrait__picture {
		width: 130px;
		height: 130px;
	}

	.portrait__social {
		font-size: 30px;
	}

	.description {
		height: 240px;
	}

	.description__hello {
		font-size: 20px;
	}

	.description__text {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 1300px) {
	.portrait {
		height: auto;
		padding-bottom: 35px;
		padding-top: 35px;
		margin-bottom: 0;
		border-radius: 0;
	}

	.portrait__name {
		margin-top: 0;
	}

	.portrait__picture {
		display: none;
	}

	.portrait__social {
		margin-top: 0;
	}

	.description {
		display: none;
	}
}

/*
* === HOME PAGE ===
*/

.apropos {
	font-family: var(--console-font);
	color: var(--main-txt-color);
	text-align: center;
}

.apropos__title {
	line-height: 28px;
}

.apropos__content {
	background-color: var(--console-bg-color);
	text-align: left;
	padding: 15px 50px;
	width: 100%;
	white-space: nowrap;
	line-height: 18px;
	letter-spacing: 1px;
}

.apropos__content--greentxt {
	color: var(--green-color);
}

.apropos__content--orangetxt {
	color: var(--orange-color);
}

/*
* -- Home page media queries --
*/

@media screen and (max-width: 1300px) {
	.apropos {
		margin-left: 35px;
		margin-right: 35px;
	}
}

@media screen and (max-width: 700px) {
	.apropos {
		margin: 0;
	}
}

/*
* === PORTFOLIO PAGE ===
*/

.portfolio {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
}

.project {
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	position: relative;
  	overflow: hidden;
  	-webkit-transition-property: color;
  	transition-property: color;
  	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.project:before {
 	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--green-color);
	border-radius: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.project:hover:before {
	-webkit-transform: scale(2);
	transform: scale(2);
}

.project__image {
	width: 100px;
	height: 100px;
}

.project__title {
	color: var(--main-txt-color);
	font-family: var(--main-font);
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 1px;
	font-weight: normal;
	font-style: normal;
	margin-top: 25px;
}

@media screen and (max-width: 1300px) {
	.portfolio {
		margin-left: 35px;
		margin-right: 35px;
	}
}

@media screen and (max-width: 700px) {
	.portfolio {
		grid-template-columns: repeat(2, 1fr);
		margin: 0;
	}
}

@media screen and (max-width: 400px) {
	.portfolio {
		grid-template-columns: 1fr;
	}
}

/*
* === BLOG PAGE ===
*/

.blog {
	font-family: var(--second-font);
	color: var(--main-txt-color);
	padding: 30px;
	margin-bottom: 15px;
	cursor: pointer;
  	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	-webkit-transition-duration: 0.5s;
  	transition-duration: 0.5s;
}

.blog:hover {
	-webkit-transform: scale(1.03);
  	transform: scale(1.03);
  	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.blog__id {
	display: none;
}

.blog__title {
	margin: 0;
	font-size: 27px;
	font-weight: 500;
	color: var(--green-color);
	line-height: 32px;
	margin-bottom: 5px;
}

.blog__info {
	display: flex;
}

.blog__date {
	font-family: var(--main-font);
	font-size: 16px;
	line-height: 17px;
}

.blog__tag {
	font-family: var(--main-font);
	color: var(--orange-color);
	font-size: 16px;
	line-height: 17px;
	margin-left: 20px;
}

.blog__hook {
	margin: 20px 0 0 0;
	font-size: 14px;
	letter-spacing: 1px;
}

.article {
	padding: 55px 50px 40px 50px;
}

.article__header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.article__title {
	font-family: var(--second-font);
	color: var(--green-color);
	font-weight: 500;
	font-size: 39px;
	line-height: 46px;
	margin: 0;
	padding: 0;
	display: block;
}

.article__date {
	font-family: var(--main-font);
	color: var(--main-txt-color);
	font-size: 17px;
	line-height: 18px;
	margin-top: 10px;
}

.article__sharing {
	display: flex;
}

.article__sharing i {
	color: var(--main-txt-color);
	display: block;
	font-size: 25px;
	opacity: 0.5;
	margin-left: 10px;
	margin-top: 15px;
	cursor: pointer;
}

.article__sharing i:first-child {
	margin-left: 0;
}

.article__content {
	font-family: var(--main-font);
	color: var(--main-txt-color);
}

.article__content h2:after {
	content: "";
    display: block;
    position: relative;
    top: .33em;
    border-bottom: 1px solid hsla(0,0%,50%,.33);
}

.article__content h1, .article__content h2, .article__content h3, .article__content h4, .article__content h5, .article__content h6 {
	font-family: var(--second-font);
	color: var(--green-color);
}

.article__tag {
	font-family: var(--second-font);
	color: var(--orange-color);
}

pre {
	overflow: auto;
}

@media screen and (max-width: 1300px) {
	#blog {
		margin-left: 35px;
		margin-right: 35px;
	}
}

@media screen and (max-width: 700px) {
	#blog {
		margin: 0;
	}

	.blog:hover {
		transform: scale(1);
	}
}

/*
* === CONTACT PAGE ===
*/

.contact, .form__input, .form__textarea {
	font-family: var(--main-font);
}

.contact {
	color: white;
	padding: 60px 75px;
	position: relative;
}

.contact__title {
	margin: 0;
	font-weight: normal;
	font-size: 35px;
}

.contact__text {
	margin: 15px 0 30px 0;
}

.form {
	display: grid;
	grid-template-areas: 
		"lastName  firstName"
		"mail      mail"
		"message   message"
		"submition submition";
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

.form__input, .form__textarea {
	background-color: var(--console-bg-color);
	color: var(--green-color);
	border: none;
	display: block;
	width: 100%;
	outline: none;
	border-radius: 10px;
	padding-left: 25px;
	padding-right: 25px;
	letter-spacing: 2px;
}

.form__input::placeholder, .form__textarea::placeholder {
	color: var(--green-color);
}

.form__input {
	line-height: 50px;
}

.form__textarea {
	resize: vertical;
	padding-top: 17px;
	min-height: 200px;
}

.form__input--lastName {
	grid-area: lastName;
}

.form__input--firstName {
	grid-area: firstName;
}

.form__input--mail {
	grid-area: mail;
}

.form__input--message {
	grid-area: message;
}

.form__element--notvalid {
	border: 1px solid var(--orange-color);
}

.form__submition {
	grid-area: submition;
	justify-self: end;
	text-align: center;
}

.form__submition--content {
	display: flex;
	align-items: center;
}

.form__button {
	background-color: var(--green-color);
	font-family: var(--main-font);
	line-height: 50px;
	max-height: 52px;
	font-size: 20px;
	border: 0;
	border-radius: 10px;
	max-width: 150px;
	min-width: 150px;
	cursor: pointer;
	outline: none;
	margin-left: 10px;
}

.form__button:hover {
	animation-name: formButtonHover;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.form__message {
	color: var(--orange-color);
	margin-top: 10px;
}

/*
* -- Contact page media queries --
*/

@media screen and (max-width: 1300px) {
	.contact {
		margin-left: 35px;
		margin-right: 35px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 700px) {
	.form {
		grid-template-areas: 
		"lastName"
		"firstName"
		"mail"
		"message"
		"submition";
		grid-template-columns: 1fr;
	}

	.contact {
		margin: 0;
		padding: 60px 40px;
	}

	.form__submition {
		justify-self: center;
	}

	.form__submition--content {
		flex-direction: column;
	}

	.form__button {
		margin-top: 10px;
	}
}